/* clear fix */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

#app-wrap {
	position: relative;
    width: 740px;
    float: left;
    height: 550px;
    border: 7px solid #eee;
    font-size: 0.96em;
    font-family: Lucida Grande, Helvetica;
    margin-bottom: 15px;
}

#header-wrap{
	position:absolute;
	left:280px;
	top: 5px;
}

#left-wrap {
	position: relative;
	width: 740px;
	float: left;
	height: 550px;
}
	
	#left-wrap #bigpic-cntr {
		position: relative;
		width: 740px;
		float: left;
		height: 450px;
	}
	
		#left-wrap #bigpic-cntr img, #left-wrap #bigpic-cntr canvas {
			position:absolute;
			top: 50px;
			left: 138px;
			-moz-box-shadow: 1px 1px 1px black;
			-webkit-box-shadow: 1px 1px 1px black;
			box-shadow: 1px 1px 1px black;
		}
		
		#left-wrap #bigpic-cntr #loader {
			position: absolute;
			top: 170px;
			left: 320px;
			z-index: 5;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;			
			padding: 20px;
			background-color: white;
			-moz-box-shadow: 1px 1px 1px black;
			-webkit-box-shadow: 1px 1px 1px black;
			box-shadow: 1px 1px 1px black;
			font-weight: bold;
			font-size: 1.2em;
			text-shadow: 1px 1px 1px #ddd;
		}
		

	
	#left-wrap #effects-cntr {
		position: relative;
		width: 740px;
		float:left;
		height: 100px; 
		overflow-y: hidden;
		overflow-x: scroll;
		z-index: 2;
		/*-moz-box-shadow: 0px -1px 1px #575757;
		-webkit-box-shadow: 0px -1px 1px #575757;
		box-shadow: 0px -1px 4px #575757;*/
	}
		
		#left-wrap #effects-cntr #overflow-cntr {
			position:relative;
			width: 920px;
			float:left;
			height: 100px;
		}

			#left-wrap #effects-cntr #overflow-cntr .ef-cntr {
				float:left;
				position:relative;
				margin: 0px 7px 0px 0px;
				border: 3px solid black;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				-moz-box-shadow: 1px 1px 2px #111;
				-webkit-box-shadow: 1px 1px 2px #111;
				box-shadow: 1px 1px 2px #111;
				height: 75px;
				width: 79px;
			}
			
			#left-wrap #effects-cntr #overflow-cntr .ef-cntr div {
				position:absolute;
				background-color: #333;
				width:74px;
				opacity: 0.9;
				text-shadow: 1px 1px 1px black;
				z-index:3;
				bottom:0;
				color: white;
				font-weight: bold;
				font-size: 0.90em;
				padding: 3px;
				text-align: center;
				visibility: hidden;
			}
			
			#left-wrap #effects-cntr #overflow-cntr .ef-cntr:active {
				top:1px;
				left:1px;
			}
			
			#left-wrap #effects-cntr #overflow-cntr .ef-cntr:hover {
				cursor: pointer;
			}
			
				#left-wrap #effects-cntr #overflow-cntr .ef-cntr:hover div {
					visibility: visible;
				}
			
#right-wrap {
	position: relative;
	width: 150px;
	float: left;
	height: 515px;
	-moz-box-shadow: -1px 0px 4px #575757;
	-webkit-box-shadow: -1px 0px 4px #000;
	box-shadow: -1px 0px 4px #575757;
	z-index: 2;
}

	#right-wrap #album-cntr {
		position: relative;
		width: 150px;
		height: 550px;
	}
	
		#right-wrap #album-cntr #albumselector-cntr {
			position:relative;
			width: 150px;
			height: 35px;
		}
		
		#right-wrap #album-cntr #albumpics-cntr {
			position: relative;
			width: 150px;
			height: 515px;
		}
		
.faded {
	top:0;
	left: 0;
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFDCC;
	opacity: 0.4;
}	
	

/* Webkit scrollbar styling */
#app-wrap ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}	

#app-wrap ::-webkit-scrollbar-track {
	background-color: #;
}

#app-wrap ::-webkit-scrollbar-thumb {
	background-color: #575757;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
		
