body{
	font-family: Georgia;
	overflow-y: scroll;
}
	
/*

 ///////////////////
 // BITS AND BOBS //
 ///////////////////

*/
	
	#hi{
		font-size: 6em;
		margin-top: 25px;
		font-style: italic;
	}
	
	#nav{
		list-style-type: none;
		list-style-image: none;
		margin:0;
		padding:0;
	}
	
	#nav li{
		float:left;
		margin:0;
		padding:0;
		margin-right:35px;
	}
	
	#nav li a{
		font-size: 1.4em;
		color: black;
		font-style: italic;
		text-decoration: none;
		padding:5px;
	}
	
	#main-content{
		margin-top: 35px;
		position: relative;
	}
	
	#content img{
		border: 1px solid #999;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 6px #aaa;
		-moz-box-shadow: 0px 0px 6px #aaa;
		box-shadow: 0px 0px 6px #aaa
	}
	
	
/*

 ////////////////////////
 // CLASSES EVERYWHERE //
 ////////////////////////
 
*/

	.see{
		background-color: #E60303;
		color: white;
		padding:3px;
		font-style: italic;
	}
	
	.selected{
		border-bottom: 2px solid black;
		padding-bottom:2px;

	}
	
	.ruler{
		width:100%;
		border-top: 2px solid #eee;
		margin-top: 30px;
		margin-bottom:30px;
		clear: both;
	}
	
	.project-header{
		font-weight: bold;
		font-size: 1.4em;
		margin-bottom: 10px;
	}
		
		.project-header a{
			color: black;
			text-decoration: none;
			padding-bottom: 2px;
		}
		
		.project-header a:hover{
			border-bottom: 2px solid black;
		}
	
	.project{
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 3px solid #eee;
	}
	
	
	.quiet{
		color: #aaa;
		font-style: italic;
	}
	
	.pink{
		border-top: 2px solid #FFE0E0;
	}
	
	.header {
		font-style: italic;
		border-bottom: 2px solid #eee;
		font-size: 1.4em;
	}
	
	.cv-download {
		padding: 5px;
		border: 1px solid #ddd;
		border-bottom: 1px solid #ccc;
		text-decoration: none;
		display: block;
		font-style: italic;
		color: #666;
		background-color: #eaeaea;
		position: relative;
		text-shadow: 1px 1px white;
		width: 160px;
		font-size: 12px;
	}
	
	.cv-download:active {
		top: 1px;
		border-bottom: 1px solid #ddd;	
	}